<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="Personal.Expenses" connectionString="server=(localdb)\mssqllocaldb;database=Sample.Personal.Expenses;trusted_connection=yes;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />-->
    <add name="Personal.Expenses" connectionString="Data Source=DESKTOP-7S1E2GC\DEVSQLSERVER;Initial Catalog=PersonalExpenses;user id=sa;password=developerms92;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <appSettings>

    <add key="OutputClassRoot" value="C:\Projetos\Personal.Expenses" />
    <add key="outputClassDomain" value="C:\Projetos\Personal.Expenses\Personal.Expenses.Domain" />
    <add key="outputClassInfra" value="C:\Projetos\Personal.Expenses\Personal.Expenses.Data" />
    <add key="outputClassDto" value="C:\Projetos\Personal.Expenses\Personal.Expenses.Dto" />
    <add key="outputClassApp" value="C:\Projetos\Personal.Expenses\Personal.Expenses.Application" />
    <add key="outputClassApi" value="C:\Projetos\Personal.Expenses\Personal.Expenses.Api" />
    <add key="outputClassFilter" value="C:\Projetos\Personal.Expenses\Personal.Expenses.Domain.Filter" />
    <add key="outputClassSummary" value="C:\Projetos\Personal.Expenses\Personal.Expenses.Domain.Summary" />
    <add key="OutputAngular" value="C:\Projetos\Personal.Expenses\Personal.Expenses.Spa.Ui" />
    <add key="OutputAngularCustom" value="C:\Projetos\Personal.Expenses\Personal.Expenses.Spa.Ui.Custom" />
    <add key="OutputClassSso" value="C:\Projetos\Personal.Expenses\Sso.Server.Api" />
    <add key="OutputClassCrossCustingAuth" value="C:\Projetos\Personal.Expenses\Personal.Expenses.CrossCuting.Auth" />


    <add key="GerarRepositoriesExistentes" value="false" />
    <add key="GerarModelPartialExistentes" value="false" />
    <add key="GerarMapperPartialExistentes" value="false" />
    <add key="GerarValidationsPartialExistentes" value="false" />
    <add key="GerarModelCustomExistentes" value="false" />
    <add key="GerarDtoEspecializadosExistentes" value="false" />
    <add key="GerarDtoEspecializadosDeResultadoExistentes" value="false" />
    <add key="GerarDtoEspecializadosDeRelatorioExistentes" value="false" />
    <add key="GerarDtoEspecializadosDeDetalhesExistentes" value="false" />
    <add key="GerarFiltersPartialExistentes" value="false" />
    <add key="GerarAppPartialExistentes" value="false" />
    <add key="GerarApiExistentes" value="true" />
    <add key="GerarMoqClassPartialExistentes" value="false" />
    <add key="GerarContainerClassPartialExistentes" value="false" />
    <add key="GerarPreCompilacaoDoContexto" value="false" />
    <add key="GerarFrontControllerCustom" value="true" />
    

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
